@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#articles {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 5%;
}

#articles .text-main-articles {
    padding-top: 80px;
    padding-bottom: 40px;
}

#articles .text-side-articles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#articles .text-side-articles h4 .all-articles {
    text-decoration: none;
    color: teal;
}

#articles .articles-grid .article-card .desc-expanded {
    font-size: 16px;
    color: #2E2F30;
}