<section id="articles">
  <div class="text-main-articles">
    <h1>Articles listing page</h1>
  </div>
  <%= render 'article_listing' %>
  <div class="apple_pagination">
    <%= will_paginate @articles %>
  </div>
</section>