<section id="users-index-main">
  <h1>All Bloggers</h1>
  <div class="users-grid-main">
    <% @users.order(id: :desc).each do | user |%>
      <div class="user-grid-card">
        <h3><%= link_to user.username, user %></h3>
        <%= gravatar_for user, size: 150 %>
        <p>Joined in <%= time_ago_in_words(user.created_at) %></p>
      </div>
    <% end %>
  </div>
</section>
<div class="apple_pagination">
  <%= will_paginate @users %>
</div>