#users-index-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5vh;
}

#users-index-main .users-grid-main {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
    width: 80vw;
    padding-top: 8vh;
    grid-gap: 2vw;
}

#users-index-main .users-grid-main .user-grid-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 1vh 1vw;
    border-radius: 1rem;
    background-color: rgba(128, 128, 128, 0.2);
    border: grey solid 1px;
    box-shadow: 1px 1px 5px 2px rgba(0,0,0,0.1);
    transition: 0.3s ease;
}

#users-index-main .users-grid-main .user-grid-card:hover {
    box-shadow: 2px 2px 6px 4px rgba(0,0,0,0.2);
    border-radius: 0.6rem;
}

#users-index-main .users-grid-main .user-grid-card h3 a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

#users-index-main .users-grid-main .user-grid-card h6 {
    font-weight: 400;
    color: teal;
}

#users-index-main .users-grid-main .user-grid-card h3 a:hover {
    text-decoration: underline;
}

#users-index-main .users-grid-main .user-grid-card img {
    border-radius: 0.5rem;
}