#sign-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

#sign-body #sign-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 80px;
    border-radius: 15px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.07) 0 1px 2px, rgba(0, 0, 0, 0.07) 0 2px 4px, rgba(0, 0, 0, 0.07) 0 4px 8px, rgba(0, 0, 0, 0.07) 0 8px 16px, rgba(0, 0, 0, 0.07) 0 16px 32px, rgba(0, 0, 0, 0.07) 0 32px 64px;
}

#sign-body #sign-card .sign-card-text {
    text-align: center;
}

#sign-body #sign-card .sign-card-form {
    width: 100%
}

#sign-body #sign-card .sign-card-form small a {
    text-decoration: none;
    color: teal;
}

#sign-body #sign-card .sign-card-form small a:hover {
    text-decoration: underline;
}

#sign-body #sign-card .users-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#sign-body #sign-card .users-form-container .users-form-shared-username,
#sign-body #sign-card .users-form-container .users-form-shared-email,
#sign-body #sign-card .users-form-container .users-form-shared-pass,
#sign-body #sign-card .users-form-container .category-form-shared-name {
    width: 100%;
}

#sign-body #sign-card .users-form-container #user_username,
#sign-body #sign-card .users-form-container #user_email,
#sign-body #sign-card .users-form-container #user_password,
#sign-body #sign-card .users-form-container #session_email,
#sign-body #sign-card .users-form-container #session_password,
#sign-body #sign-card .users-form-container #category_name{
    padding: 10px;
    border-radius: 10px;
    border: grey solid 1px;
    width: 100%;
}

#sign-body #sign-card .users-form-container #user_username:focus,
#sign-body #sign-card .users-form-container #user_email:focus,
#sign-body #sign-card .users-form-container #user_password:focus
#sign-body #sign-card .users-form-container #session_email:focus,
#sign-body #sign-card .users-form-container #session_password:focus {
    border: teal solid 2px;
    outline: 0;
    border-radius: 7px;
}

#sign-body #sign-card .users-form-container .btn-sign {
    cursor: pointer;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 42px;
    color: white;
    font-weight: 500;
    border-radius: 10px;
    border: 0;
    background-color: teal;
    transition: 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}

#sign-body #sign-card .users-form-container .btn-sign:hover {
    border-radius: 7px;
    background-color: #006565;
    box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;
}