<section id="search-sec">
  <label>
    <input type="text" placeholder="Search...">
  </label>
</section>

<section id="header">
  <%= link_to 'Alpha', root_path, class: "navbar-brand" %>

  <div>
    <ul id="navbar">
      <li><a href="#">SomeSome</a></li>
      <li><a href="#">SomeSome</a></li>
      <li><a href="#">SomeSome</a></li>
      <li><a href="#">SomeSome</a></li>
      <li><a><span class="material-symbols-outlined">search</span></a></li>
    </ul>
  </div>
</section>