<section id="search-sec">
  <label>
    <input type="text" placeholder="Search...">
  </label>
</section>

<section id="header">
  <a>Alpha</a>

  <div>
    <ul id="navbar">
      <li><a href="#">SomeSome</a></li>
      <li><a href="#">SomeSome</a></li>
      <li><a href="#">SomeSome</a></li>
      <li><a href="#">SomeSome</a></li>
      <li><a onclick="searchDisplay()"><span class="material-symbols-outlined">search</span></a></li>
    </ul>
  </div>
</section>